@{
    ViewData["Title"] = "Home Page";
}

<h1 class="header center orange-text">sklep sasd ss</h1>
<div class="row center">
    <h5 class="header col s12 light">super sklep asdasd </h5>
</div>
<div class="row center">
    <a href="onet.pl" id="download-button" class="btn-large waves-effect waves-light orange">idź do onetu</a>
</div>