@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="header center orange-text">polityka prywatności </h1>
<div class="row center">
    <h5 class="header col s12 light">Tu będzie polityka prywatności </h5>
</div>